:root {
  --grey-med:#ddd;
  --grey-light:#f7f7f7;
  --grey-text-light:#717171;
  --grey-text-dark:#222;
  --grey-light-descript:#a9a9a9;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: 0 !important;
  }
}

h2 {
  padding-top: 15px;
  padding-bottom: 41px;
}

h3 {
  padding-top: 15px;
  margin-bottom: -7px;
}

h5 {
  margin-top: 15px;
}

.text {
  color: blue;
}

.header {
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
  background-color: grey;
}

.header__nav, .header_logo {
  flex-grow: 140;
}

span {

  &.line {
    width: 0.5px;
    height: 70px;
    background-color: var(--grey-med);
  }

  &.span__color {
    background-color: white;
    color: var(--grey-text-light);
    padding-left: 15px;
  }
  &.greyText {
    background-color: white;
    color: var(--grey-light-descript);
    font-size: 9px;
    width: 0px;
    height: 0px;
  }
}

.header__searchIcon img {
  width: 12px;
  height: 12px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav__button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.header__nav__button-language img:first-child {
  width: 21px;
  height: 21px;
}

.header__nav__button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  padding: 12px 16px;
  border-radius: 0px;
  background: var(--grey-light);
}

#main {
  min-height: 200vh;
  font-family: 'Oswald', sans-serif;
}

h1 {
  padding-bottom: 1px;
  padding-right: 320px;
  padding-left: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-family: sans-serif;
}

h2 {
  margin-top: 5px;
  height: 0px;
  font-family: sans-serif;
}

input {
  border: none;


  &.search {
    min-width: 650px;
    line-height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.empty {
    font-size: 30px;
  }

.image {
  width: 226.66px;
  margin:0px;
}

.destination {
   h6 {
  margin-left: 305px;
  width: 550px;
}
}

.error {
  color: red;
  position: relative;
  bottom: 7px;
}

.register {
  background-color: grey;
  border-radius: 15px;
  padding: 30px;
}

.signin {
  background-color: grey;
  border-radius: 15px;
  padding: 30px;
}

.user {
  background-color: grey;
  border-radius: 15px;
  padding: 30px;
}

.info {
  height: 200px;
}

.destination {
  position: relative;
  bottom: 170px;
}
.details {
  position: relative;
  bottom: 140px;
  padding-left: 410px;
}

.under {
  border-bottom: 1px solid #a9a9a9;
  position: relative;
  bottom: 50px;
}